* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.text-white {
    color: white;
}

.fl{
    float: left;
    height: 100%;
}

.fr {
    float: right;
    height: 100%;
}

.al {
    text-align: left;
}

.ar {
    text-align: right;
}

.container {
    max-width: 1260px;
    width: 92.73828%;
    margin: 0 auto;
}

section:not(.fourth), footer {
    height: 70vh;
}

section:nth-child(even) {
    background-color: #F3F4F5;
}


footer {
    background-color: #2c2f33;
}

/* header */

header{
    background-image: url(../img/jumbo.png);
    width: 100%;
    height: 65vh;
    background-size: cover;
}

header .container .fl:first-child, header .container .fl:last-child {
    width: 13.148525%;
}

header .container .fl:nth-child(2) {
    width: 73.70095%;
}

header .container .fl {
    height: 80px;
    line-height: 80px;
}

.logo img {
    max-width: 100%;
    vertical-align: middle;
}

.nav {
    text-align: center;
}

ul {
    list-style-type: none;
}

.nav ul li {
    display: inline-block;
    margin-right: 1em;
}

.nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover,
ul li a:active,
ul li a:focus {
    text-decoration: underline;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header .text {
    width: 44.80559%;
    margin: 0 auto;
    text-align: center;
    padding: 6em 0;
}

header .text h1 {
    font-size: 3em;
    margin-bottom: 0.8em;
}

header .text p {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

.text a.btn:hover {
    color: #265ee8;
    box-shadow: 0px 9px 20px black;
}

a.btn.big{
    padding: 7px 23px;
    font-weight: normal;
}

a.btn.dark{
    color: white;
    background-color: #23272a;
    font-weight: bold;
}

a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}

/* end header */




/*  section */

section {
    padding: 7% 0;
    position: relative;
}

.box {
    display: flex;
    align-items: center;
}

.select .box .image {
    width: 60%;
}

section:not(.fourth) .box .paragraph {
    width: 40%;
}

section:not(.fourth) .box.image img{
    width: 100%;
    max-width: 678px;
    max-height: 440px;
}

.paragraph h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-bottom: 0.6em;
}

.paragraph p {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 0.6em;
}

/*  section */




/* first section */



/* end first section */




/* second section */



/* end second section */




/* tird section */



/* end tird section */




/* fourth section */

.fourth {
    padding: 5% 0;
}

.fourth .box .image img{
    width: 100%;
}

.fourth .box .paragraph{
    text-align: center;
}

.row {
    height: 13em;
}

.centered {
    margin: 0 auto;
    width: 33.399358974%;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;

}

.centered h1 {
    font-size: 2em;
    padding-top: 1.5em;
}

.centered a {
    display: inline-block;
    margin-top: 2.5em;
}

.centered .btn, .end .fr .btn {
    color: white;
    background-color: #5865f2;
    padding: 10px 30px;
}

.centered a.btn:hover {
    background-color: #5865f269;
    box-shadow: 0px 9px 20px black;
}


/* end fourth section */




/* footer */

.foot {
    padding-top: 4em;
}

footer .foot {
    height: 27em;
    border-bottom: 1px solid #5865f2;
}

.column-1 {
    color: #7289da;
    width: 38.98305%;
}

.column-1 a {
    text-decoration: none;
}

.column-1 .selector {
    margin: 1em 0;
}

.column-2 {
    width: 15.2542375%;
    padding-top: 1em;
}

.column-2 span{
    color: #5865f2;
    line-height: 2em;
}

.column-2 a {
    color: white;
    text-decoration: none;
    line-height: 2em;
}

.selector img{
    height: 1em;
}

.selector span {
    margin: 0 0.2em;
}

.social i{
    font-size: 1.5em;
    margin-right: 1em;
}

.end {
    height: 80px;
    line-height: 80px;
}

.end .fr .btn{
    padding: 5px 25px;
}

/* end footer */